<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Details</title>
        <link rel="stylesheet" href="../static/estilos.css">
    </head>

    <body>

        <div class="flex-container">

            <div class="Vertical">

                <div class="Titulo_peli">
                    <p>Avatar</p>
                </div>
                <div class="Miniatura">
                  <!-- <a href="../details_logged.html" target="_parent"> -->
                    <img src="../imgs/avatar.jpg" alt="Imagen de Avatar" width=250 height=300>
                  </a>
                </div>
                <div class="Puntuacion">
                    <img src="../imgs/puntuacion.png" alt="Estrellas como puntuacion" width=250 height=50>
                </div>

            </div>

            <div class="Vertical">

                <div class="Descripcion">
                    <p>
                        <b>Resumen: </b>Un señor militar se vuelve azul y alucina con un mundo alienígena<br>
                        <b>Año: </b>...<br>
                        <b>Actores: </b>...<br>
                        <b>Director: </b>David Cameron<br>
                    </p>
                </div>

                <div class="centro">
                    <button class="Boton Boton1">¡Añádeme al carrito!</button>
                </div>

            </div>

        </div>

        <div>
            <p class="centro">Recomendadas</p>
        </div>

        <div class="flex-container">
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../imgs/up.jpg" alt="Imagen de up" width=200 height=250>
                </a>
            </div>
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../imgs/interstellar.jpg" alt="Imagen de interstellar" width=200 height=250>
                </a>
            </div>
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../imgs/thedeparted.jpg" alt="Imagen de infiltrados" width=200 height=250>
                </a>
            </div>
        </div>

        <div class="flex-container">
            <div>
                <button class="scroll_boton">Anterior</button>
            </div>
            <div>
                <button class="scroll_boton">Siguiente</button>
            </div>
        </div>

    </body>
</html>
