<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="UTF-8">
        <title>Header</title>
        <link rel="stylesheet" href="../style/estilos.css">
    </head>

    <body>
        <div class="header">
			<div class="header-content">
				<div class="header_img">
					<a href="../index.html" target="_parent">
						<img src="../logo.jpg" alt ="Logo de Big Lemon" width=300 height=90>
					</a>
				</div>

				<div class="logout">
					<p>username</p>
					<form style="display: inline" action="../details_unlogged.html" method="get" target="_parent">
						<button>Logout</button>
					</form>
				</div>

				<div class="profilepic">
					<img src="../imgs/usuario.png" alt="Foto de perfil" width=50 height=50>
				</div>

				<div class="cartpic">
					<a href="../index.html" target="_parent">
						<img src="../imgs/carrito.png" alt="Carrito de la compra" width=50 height=50>
					</a>
				</div>

			</div>
        </div>
    </body>
</html>
