<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Details</title>
        <link rel="stylesheet" href="../style/estilos.css">
    </head>

    <body>

        <div class="flex-container-vertical">
            <div class="flex-container">
                <div>
                    <a href="../details_logged.html" target="_parent">
                        <img src="../imgs/avatar.jpg" alt="imagen avatar" width=250 height=300>
                    </a>

                </div>
                <div>
                    <p>
                        <b>Avatar</b><br>
                        <b>Fecha: </b>15 Septiempre de 2018<br>
                        <b>Coste: </b>13 €<br>
                    </p>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <a href="../details_logged.html" target="_parent">
                        <img src="../imgs/interstellar.jpg" alt="imagen interstellar" width=250 height=300>
                    </a>

                </div>
                <div>
                    <p>
                        <b>Interstellar</b><br>
                        <b>Fecha: </b>3 Septiempre de 2018<br>
                        <b>Coste: </b>8 €<br>
                    </p>
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <a href="../details_logged.html" target="_parent">
                    <img src="../imgs/up.jpg" alt="imagen up" width=250 height=300>
                    </a>
                </div>
                <div>
                    <p>
                        <b>Avatar</b><br>
                        <b>Fecha: </b>3 Septiempre de 2018<br>
                        <b>Coste: </b>5 €<br>
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
