<!DOCTYPE html>

{% extends 'layout.html' %}

{% block title %}
Home - BigLemon
{% endblock %}

{% block header %}
<div class="header">
    <a href="{{url_for('index')}}">
        <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
    </a>
</div>

<div class="cartpic">
    <a href="{{url_for('index')}}">
        <img src="static/imgs/carrito.png" alt="Carrito de la compra" width=50 height=50>
    </a>
</div>

{% if user_id %}
<div class="login_warning">
  <p>Bienvenido, {{user_id}}</p>
</div>
{% else %}
<div class="login_warning">
  <p>¿Aún no te has registrado? <a href="{{url_for('registro')}}">Haz click aquí</a></p>
</div>
{% endif %}
{% endblock %}

{% block izquierda %}
<div class="side_menu">
    <div class="flex-container-vertical">
        <!--Clase para la búsqueda-->
        <div>
            <form action="/" method="POST">
                <input name="buscar" type="text" placeholder="Busca..">
                <input name="boton" type="submit" value="Buscar">
            </form>
        </div>

        <!--Clase para el botón de login-->
        {% if user_id %}
        <div class="login_button">
          <p>¡Acceda a su Historial!</p>
          <form style="display: inline" action="/historial/" method="POST">
            <input name="historial" type="submit" value="Historial">
          </form>
          <p> </p>
        <form style="display: inline" action="/" method="POST">
          <input name="logout" type="submit" value="LOGOUT">
        </form>
        </div>
        {% else %}
        <div class="login_button">
          <p>¡Inicie sesión para comprar!</p>
        <form style="display: inline" action="/carrito" method="POST">
          <!-- <p>Nombre de usuario:</p> -->
          <input name="username" type="text" placeholder="Nombre de usuario">
          <!-- <p>Contraseña:</p> -->
          <input name="password" type="password" placeholder="Contraseña">
          <p></p>

          <input type="submit" value="LOGIN">
        </form>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block derecha %}
<!--Listado de peliculas agregadas-->
{% if seleccion %}

<div class="flex-container-vertical">
    {% for peli in seleccion %}
    <div class=flex-container>
        <!-- Parte izquierda con titulo y portada -->
        <div>
            {% if peli.titulo|length < 100 %} 
            <h2 class = "centro">{{peli.titulo}}</h2>
            {% else %}
            <div title="{{peli.titulo}}">
                <h2>{{peli.titulo[:98] + '...'}}</h2>
            </div>
            {% endif %}
            <div class="portada">
                <a href="{{url_for('detalle', pelicula=peli.titulo)}}" target="_parent">
                    <img src="static/{{peli.poster}}" alt="portada de {{peli.titulo}}" width="200px" height="270px">
                </a>
            </div>
        </div>
        <!-- Parte derecha con descripcion, fecha de compra y precio -->
        <div>
            <p><b>Sinopsis: </b>{{peli.desc[:198] + '...'}}</p>
            <p><b>Fecha compra:</b> - To be implemented</p>
            <p><b>Precio: </b>{{peli.precio}}</p>
        </div>
    </div>
    <hr>

    {% endfor %}
</div>

{% else %}
<p class="centre">No se han encontrado peliculas </p>
{% endif %}

{% endblock %}

{% block footer %}
<p class="Pie_texto">
    Óscar Pinto Santamaría y Francisco de Vicente Lana
</p>
{% endblock %}
