<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>THE BIG LEMON</title>
        <link rel="stylesheet" href="style/estilos.css">
    </head>

    <body>
        <div class="Cabecera">
            <iframe src="componentes/header_details.html"></iframe>
        </div>

        <div class="Centro">
                <div class="Izquierda">
                    <iframe src="componentes/side_menu_details.html"></iframe>
                </div>
                <div class="Derecha">
                    <iframe src="componentes/details_unlogged.html"></iframe>
                 </div>
            </div>

        <div class="Pie">
            <p class="Pie_texto">
                Óscar Pinto Santamaría & Francisco de Vicente Lana
            </p>
        </div>

    </body>
</html>
