<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>THE BIG LEMON</title>
        <link rel="stylesheet" href="static/estilos.css">
    </head>

    <body>
        <div class="Cabecera">
            <iframe src="flaskr/templates/componentes/header.html"></iframe>
        </div>

        <div class="Centro">
                <div class="Izquierda">
                    <iframe src="flaskr/templates/componentes/side_menu.html"></iframe>
                </div>
                <div class="Derecha">
                    <iframe src="flaskr/templates/componentes/main_page_unlog.html"></iframe>
                 </div>
            </div>

        <div class="Pie">
            <p class="Pie_texto">
                Óscar Pinto Santamaría & Francisco de Vicente Lana
            </p>
        </div>

    </body>
</html>
