<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
  </head>
  <body>
    <h1> TEST </h1>
    {% if seleccion %}
    <div class="container">
      <ul>
        {% for pelicula in seleccion %}
        <li><form action="/detalle/" method="POST">
          <input name="pelicula" type="hidden" value="{{pelicula}}">
          <p>{{pelicula.titulo}}</p>
          <input type="submit" value="✓" />
        </form></li>
        {% endfor %}
      </ul>
    </div>
    {%else%}
    <p> ERROR </p>
    {% endif %}


    <form action="/buscar/" method="POST">
      <input name="buscar" type="text" placeholder="Busca..">
      <input name="boton" type="submit" value="Buscar">
    </form>


  </body>
</html>