<!DOCTYPE html>

{% extends 'layout.html' %}


{% block header %}
<div class="header">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
  </a>
</div>

<div class="cartpic">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/carrito.png" alt="Carrito de la compra" width=50 height=50>
  </a>
</div>

<div class="login_warning">
  <p>¿Aún no te has registrado? <a href="register.html">Haz click aquí</a></p>
</div>
{% endblock %}

{% block izquierda %}
<div class="side_menu">
  <div class="flex-container-vertical">
    <!--Clase para la búsqueda-->
    <div>
      <form action="/" method="POST">
        <input name="buscar" type="text" placeholder="Busca..">
        <input name="boton" type="submit" value="Buscar">
      </form>
    </div>

    <!--Clase con la lista desplegable de categorías-->
    <div class="categories">
      <p>¡Busca tu categoría favorita!</p>
      <div class="lista_desplegable">
        <select name="seleccion" id="seleccion">
          <option value="drama">Todos</option>
          <option value="drama">Drama</option>
          <option value="animacion">Animación</option>
          <option value="policiaca">Policíaca</option>
          <option value="espacio">Espacio</option>
          <option value="ciencia ficcion">Ciencia ficción</option>
          <option value="infantil">Infantil</option>
          <option value="aventura">Aventura</option>
        </select>
      </div>
      <!-- <form action="/" method="POST">
        <input name="todos" type="radio" value="todos">Todos<br>
        <input name="drama" type="radio" value="drama">drama<br>
        <input name="animacion" type="radio" value="animacion">animacion<br>
        <input name="policiaca" type="radio" value="policiaca">policiaca<br>
        <input name="espacio" type="radio" value="espacio">espacio<br>
      </form> -->
    </div>

    <!--Clase para el botón de login-->
    <div class="login_button">
      <p>¡Inicie sesión para comprar!</p>
      <!-- <p>Nombre de usuario:</p> -->
      <input type="text" placeholder="Nombre de usuario">
      <!-- <p>Contraseña:</p> -->
      <input type="text" placeholder="Contraseña">
      <p></p>
      <form style="display: inline" action="../index_logged.html" method="get" target="_parent">
        <button>Login</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block derecha %}
<!--Catalogo de peliculas-->
{% if seleccion %}
<!-- <div class="catalogue"> -->

  {% if seleccion[0] %}
  <div class="flex-container-wrap">
    {% for peli in seleccion %}
    <div class=film>
      <h2>{{peli.titulo}}</h2>
      <a href="{{url_for('detalle', pelicula=peli.titulo)}}" target="_parent">
        <img src="static/{{peli.poster}}" alt="img1" style="width:150px;height:200px;">
      </a>
      <p>{{peli.desc}}</p>
    </div>
    {% endfor %}

  </div>

  <!-- {% if seleccion[0] %}
  <div class="film1">
    <h2>{{seleccion[0].titulo}}</h2>
    <a href="{{url_for('detalle', pelicula=seleccion[0].titulo)}}" target="_parent">
      <img src="static/{{seleccion[0].poster}}" alt="img1" style="width:150px;height:200px;">
    </a>
    <p>{{seleccion[0].desc}}</p>
  </div>
  {% else %}
  <p>Error: No se han encontrado partidas</p>
  {% endif %}

  {%if seleccion[1] %}
  <div class="film2">
    <h2>{{seleccion[1].titulo}}</h2>
    <a href="{{url_for('detalle', pelicula=seleccion[1].titulo)}}" target="_parent">
      <img src="static/{{seleccion[1].poster}}" alt="img2" style="width:150px;height:200px;">
    </a>
    <p>{{seleccion[1].desc}}</p>
  </div>
  {% endif %}

  {% if seleccion[2] %}
  <div class="film3">
    <h2>{{seleccion[2].titulo}}</h2>
    <a href="{{url_for('detalle', pelicula=seleccion[2].titulo)}}" target="_parent">
      <img src="static/{{seleccion[2].poster}}" alt="img3" style="width:150px;height:200px;">
    </a>
    <p>{{seleccion[2].desc}}</p>
  </div>
  {% endif %} -->
<!-- </div> -->
{% endif %}

<!--Flechas catalogo-->
<!-- <div class="sidescroll">
  <div class="leftscroll">
    <a class="arrow">Anterior</a>
  </div>

  <div class="rightscroll">
    <a class="arrow">Siguiente</a>
  </div>
</div> -->
{% else %}
<p class="centre">No se han encontrado peliculas </p>
{% endif %}

</div>
</div>
{% endblock %}

{% block footer %}
<p class="Pie_texto">
  Óscar Pinto Santamaría y Francisco de Vicente Lana
</p>
{% endblock %}