<!DOCTYPE html>

{% extends 'layout.html' %}


{% block header %}
    <div class="header">
      <a href="{{url_for('index')}}">
        <img src="static/imgs/logo.jpg" alt ="Logo de Big Lemon" width=300 height=90>
      </a>
    </div>

    <div class="cartpic">
      <a href="{{url_for('index')}}">
        <img src="static/imgs/carrito.png" alt="Carrito de la compra" width=50 height=50>
      </a>
    </div>

    <div class="login_warning">
        <p>¿Aún no te has registrado? <a href="register.html">Haz click aquí</a></p>
    </div>
{% endblock %}

{% block izquierda %}
  <div class="side_menu">
    <!--Clase para la búsqueda-->
    <form action="/" method="POST">
      <input name="buscar" type="text" placeholder="Busca..">
      <input name="boton" type="submit" value="Buscar">
    </form>

    <!--Clase con la lista desplegable de categorías-->
      <div class="categories">
        <p>¡Busca tu categoría favorita!</p>
        <div class="lista_desplegable">
          <select>
            <option value="Aventuras">Aventuras</option>
            <option value="Comedia">Comedia</option>
            <option value="Romántica">Romántica</option>
            <option value="Acción">Acción</option>
          </select>
        </div>
      </div>

      <!--Clase para el botón de login-->
        <div class="login_button">
          <p>¡Inicie sesión para comprar!</p>
          <p>Nombre de usuario:</p>
          <input type="text" placeholder="username">
          <p>Contraseña:</p>
          <input type="text" placeholder="****">
          <p></p>
          <form style="display: inline" action="../index_logged.html" method="get" target="_parent">
          <button>Login</button>
          </form>

        </div>
      </div>
{% endblock %}

{% block derecha %}
        <div class="flex-container">

            <div class="Vertical">
                <div class="Titulo_peli">
                    <p>{{ seleccion.titulo }}</p>
                </div>
                <div class="Miniatura">
                  <!-- <a href="../details_logged.html" target="_parent"> -->
                    <img src=../static/{{seleccion.poster}} alt="Imagen de {{seleccion.titulo}}" width=250 height=300>
                  </a>
                </div>
                <div class="Puntuacion">
                    <img src="../static/imgs/puntuacion.png" alt="Estrellas como puntuacion" width=250 height=50>
                </div>

            </div>

            <div class="Vertical">

                <div class="Descripcion">
                    <p>
                        <b>Resumen: </b>{{seleccion.desc }}<br>
                        <b>Año: </b>{{ seleccion.anno }}<br>
                        <b>Actores: </b>
                        {% for actor in seleccion.actores %}
                            <li>{{ actor.nombre }} ({{ actor.personaje }})</li>
                        {% endfor %}
                        <br>
                        <b>Director: </b>{{ seleccion.director }}<br>
                    </p>
                </div>

                <div class="centro">
                    <button class="Boton Boton1">¡Añádeme al carrito!</button>
                </div>

            </div>

        </div>

        <div>
            <p class="centro">Recomendadas</p>
        </div>

        <div class="flex-container">
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../static/{{recomendadas[0].poster}}" alt="Imagen 1" width=200 height=250>
                </a>
            </div>
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../static/{{recomendadas[1].poster}}" alt="Imagen 2" width=200 height=250>
                </a>
            </div>
            <div>
                <a href="../details_logged.html" target="_parent">
                    <img src="../static/{{recomendadas[2].poster}}" alt="Imagen 3" width=200 height=250>
                </a>
            </div>
        </div>

        <div class="flex-container">
            <div>
                <button class="scroll_boton">Anterior</button>
            </div>
            <div>
                <button class="scroll_boton">Siguiente</button>
            </div>
        </div>
{% endblock %}

{% block footer %}
  <p class="Pie_texto">
    Óscar Pinto Santamaría y Francisco de Vicente Lana
  </p>
{% endblock %}