<!DOCTYPE html>

{% extends 'layout.html' %}

{% block title %}
  Home - BigLemon
{% endblock %}

{% block header %}
<div class="header">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
  </a>
</div>

<div class="cartpic">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/carrito.png" alt="Carrito de la compra" width=50 height=50>
  </a>
</div>

<div class="login_warning">
  <p>¿Aún no te has registrado? <a href="{{url_for('registro')}}">Haz click aquí</a></p>
</div>
{% endblock %}

{% block izquierda %}
<div class="side_menu">
  <div class="flex-container-vertical">
    <!--Clase para la búsqueda-->
    <div>
      <form action="/" method="POST">
        <input name="buscar" type="text" placeholder="Busca..">
        <input name="boton" type="submit" value="Buscar">
      </form>
    </div>

    <!--Clase con la lista desplegable de categorías-->
    {% if cats %}
    <div class="categories">
      <p>¡Busca tu categoría favorita!</p>
      <div class="lista_desplegable">
        <form action="/" method="POST">
          <select name="seleccion" id="seleccion" onchange="this.form.submit()">
            {% for cat in cats %}
            <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    {% endif %}

    <!--Clase para el botón de login-->
    <div class="login_button">
      <p>¡Inicie sesión para comprar!</p>
      <!-- <p>Nombre de usuario:</p> -->
      <input type="text" placeholder="Nombre de usuario">
      <!-- <p>Contraseña:</p> -->
      <input type="text" placeholder="Contraseña">
      <p></p>
      <form style="display: inline" action="../index_logged.html" method="get" target="_parent">
        <button>Login</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block derecha %}
<!--Catalogo de peliculas-->
{% if seleccion %}
<!-- <div class="catalogue"> -->

  {% if seleccion[0] %}
  <div class="flex-container-wrap">
    {% for peli in seleccion %}
    <div class=film>
      {% if peli.titulo|length < 20 %}
        <h2>{{peli.titulo}}</h2>
      {% else %}
      <div title="{{peli.titulo}}">
        <h2>{{peli.titulo[:18] + '...'}}</h2>
      </div>
      {% endif %}
      <div class="portada">
        <a href="{{url_for('detalle', pelicula=peli.titulo)}}" target="_parent">
          <img src="static/{{peli.poster}}" alt="portada de {{peli.titulo}}" width="200px" height="270px">
          <div class="overlay">
              <div class="descPortada"><b>{{peli.desc}}</b></div>
          </div>
        </a>
      </div>
      <!--{% if peli.desc|length < 128 %}
        <p>{{peli.desc}}</p>
      {% else %}
        <p>{{peli.desc[:128] + '...'}}</p>
      {% endif %}-->
    </div>
    {% endfor %}

  </div>

{% endif %}

<!--Flechas catalogo-->
<div class="botonesIndex">
  <div class="leftscroll">
    <a class="arrow">Anterior</a>
  </div>

  <div class="rightscroll">
    <a class="arrow">Siguiente</a>
  </div>
</div> 
{% else %}
<p class="centre">No se han encontrado peliculas </p>
{% endif %}

</div>
</div>
{% endblock %}

{% block footer %}
<p class="Pie_texto">
  Óscar Pinto Santamaría y Francisco de Vicente Lana
</p>
{% endblock %}
