<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
  Registro - BigLemon
{% endblock %}

{% block header %}
<div class="header">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
  </a>
</div>
{% endblock %}

{% block centro %}

  <div class="Registro">
    <h2>¡Regístrese para disfrutar al máximo de The Big Lemon!</h2>
    <p>Nombre de usuario:</p>
    <input type="text" placeholder="username">
    <p>Contraseña:</p>
    <input type="text" placeholder="****">
    <p>Tarjeta de Crédito</p>
    <input type="text" placeholder="ABCD-EFGH...">
    <p>Sexo:</p>
    <select>
      <option value="M">M</option>
      <option value="F">F</option>
      <option value="NB">NB</option>
      <option value="Otro">Otro</option>
    </select>
    <p></p>
    <form style="display: inline" action="index_logged.html" method="get" target="_parent">
		    <button>¡Registrar!</button>
    </form>
  </div>
{% endblock %}

{% block footer %}
  <p class="Pie_texto">
    Óscar Pinto Santamaría y Francisco de Vicente Lana
  </p>
{% endblock %}
