<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
  Registro - BigLemon
{% endblock %}

{% block header %}
<div class="header">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
  </a>
</div>
{% endblock %}

{% block centro %}

	<script type="text/javascript" src="scripts/validacion.js"></script>

  <div class="Registro">
    <h3>¡Regístrese para disfrutar al máximo de The Big Lemon!</h3>
    <form action="/" method="POST" onsubmit="return validar(this)">
      <label for="nombre">Nombre de usuario:</label>
      <input type="text" name="fnombre" id="nombre" /><br>
      <label for="pass">Contraseña:</label>
      <input type="password" name="fpass" id="pass" /><br>
      <label for="correo">E-mail:</label>
      <input type="text" name="femail" id="correo" /><br>
      <label for="card">Número de tarjeta:</label>
      <input type="text" name="fcard" id="card" /><br>
      <label for="sex">Sexo:</label>
      <select name="fsex" id ="sex">
        <option value="--">--</option>
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="NB">NB</option>
        <option value="Otro">Otro</option>
      </select><br><br>
      <input type="submit" value="Enviar formulario" />
    </form>
  </div>
{% endblock %}

{% block footer %}
  <p class="Pie_texto">
    Óscar Pinto Santamaría y Francisco de Vicente Lana
  </p>
{% endblock %}
