<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
  Registro - BigLemon
{% endblock %}

{% block header %}
<div class="header">
  <a href="{{url_for('index')}}">
    <img src="static/imgs/logo.jpg" alt="Logo de Big Lemon" width=300 height=90>
  </a>
</div>
{% endblock %}

{% block centro %}

	<script type="text/javascript" src="static/validacion.js">

  </script>

  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  jQuery.fn.fortalezaClave = function(){
   $(this).each(function(){
      elem = $(this);
      //creo el elemento HTML para el mensaje
      msg = $('<span class="fortaleza">No segura</span>');
      //inserto el mensaje en la página, justo después del campo input password
      elem.after(msg)
      //almaceno la referencia del elemento del mensaje dentro del campo input
      elem.data("mensaje", msg);

      elem.keyup(function(e){
         elem = $(this);
         //recupero la referencia al elemento del mensaje
         msg = elem.data("mensaje")
         //miro la fortaleza
         //extraigo el atributo value del campo input password
         claveActual = elem.attr("value");
         var fortalezaActual = "";
         //saco la fortaleza en función de los caracteres que tenga la clave
         if (claveActual.length < 5){
            fortalezaActual = "No segura";
         }else{
            if(claveActual.length < 8){
               fortalezaActual = "Medianamente segura";
            }else{
               fortalezaActual = "Segura";
            }
         }
         //cambio el texto del elemento mensaje para mostrar la fortaleza actual
         msg.html(fortalezaActual);
      });
   });
   return this;
}

$(document).ready(function(){
   $("#fnombre").fortalezaClave();
});
  </script>

  <div class="Registro">
    <h3>¡Regístrese para disfrutar al máximo de The Big Lemon!</h3>
    <form id="registro" action="/" method="POST">
      <label for="nombre">Nombre de usuario:</label>
      <input type="text" name="fnombre" id="nombre" /><br>
      <label for="pass">Contraseña:</label>
      <input type="password" name="fpass" id="pass" /><br>
      <label for="correo">E-mail:</label>
      <input type="text" name="femail" id="correo" /><br>
      <label for="card">Número de tarjeta:</label>
      <input type="text" name="fcard" id="card" /><br>
      <label for="sex">Sexo:</label>
      <select name="fsex" id="sex">
        <option value="--">--</option>
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="NB">NB</option>
        <option value="Otro">Otro</option>
      </select><br><br>
      <input type="button" value="Enviar formulario" onclick="return validacion(document.getElementById('registro'))" />
    </form>
  </div>
{% endblock %}
